body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  
  #start-menu {
    text-align: center;
    background-color: #3b3f4a;
    padding: 20px;
    border-radius: 10px;
  }
  
  #game-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
  
  #shooters-container {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 20px;
  }
  
  #opponent-shooter {
    width: 150px;
    height: 200px;
  }

  #player-shooter{
    width: 400px;
    height: 600px;
  }
  
  #ready-button,
  #start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #ready-button:hover,
  #start-button:hover {
    background-color: #21a1f1;
  }
  
  #ready-set-go {
    font-size: 2rem;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
  
  #red-dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 2;
  }
  